<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Novo Produto</h1>
        <div class="left">
          <i class="fas fa-chevron-left"></i>
          <a routerLink="/produtos/v1">Voltar</a>
        </div>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Restaurante</label>
        <p-dropdown name="restaurant" [options]="restaurants" placeholder="Selecione" [filter]="true"
          [(ngModel)]="product.restaurant_id" required>
        </p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="name" [(ngModel)]="product.name" #name="ngModel" required minlength="3"
          placeholder="Marmitex, Buffet, ...">

        <app-message [control]="name" error="required" text="Informe o nome do produto"></app-message>
        <app-message [control]="name" error="minlength"
          text="Mínimo de {{ name.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ name.errors?.minlength?.actualLength }}!">
        </app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
        <input pInputText type="text" name="category" [(ngModel)]="product.category" #category="ngModel" required
          minlength="5" placeholder="Doces, Sucos, ...">

        <app-message [control]="category" error="required" text="Informe o nome da categoria"></app-message>
        <app-message [control]="category" error="minlength"
          text="Mínimo de {{ category.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ category.errors?.minlength?.actualLength }}!">
        </app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Preço</label>
        <input pInputText type="text" placeholder="0,00" name="price" currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }" [(ngModel)]="product.price"
          #price="ngModel" required minlength="1">

        <app-message [control]="price" error="required" text="Informe o preço do produto"></app-message>
        <app-message [control]="price" error="minlength"
          text="Mínimo de {{ price.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ price.errors?.minlength?.actualLength }}!">
        </app-message>
      </div>

      <div class="p-col-12">
        <p>Esse produto possuirá alguma promoção?</p>
        <p-selectButton [options]="promotion" [(ngModel)]="product.promotion" name="promotion" #promo>
        </p-selectButton>
      </div>
    </div>

    <div class="p-grid" *ngIf="promo.value">

      <div class="p-col-12">
        <p>Preencha as informações sobre a promoção do produto, logo abaixo:</p>
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>Preço promocional</label>
        <input pInputText type="text" placeholder="0,00" name="promotional_price" currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          [(ngModel)]="product.promotional_price" #promotional_price="ngModel" required minlength="1">

        <app-message [control]="promotional_price" error="required" text="Informe o preço promocional do produto">
        </app-message>
        <app-message [control]="promotional_price" error="minlength"
          text="Mínimo de {{ promotional_price.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ promotional_price.errors?.minlength?.actualLength }}!">
        </app-message>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Descrição</label>
        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize"
          placeholder="Escreva alguma coisa... (50% de desconto!!!)" name="description"
          [(ngModel)]="product.description" #description="ngModel"></textarea>
      </div>

      <div class="p-col-12">
        <p>Selecione os dias da semana que ocorrerá a promoção:</p>
      </div>

      <div class="p-col-12 checkbox">
        <p-checkbox name="selectDaysWeek" value="Segunda" [(ngModel)]="product.day_week" #selectDaysWeek="ngModel">
        </p-checkbox>
        <label for="monday">Segunda</label>
      </div>

      <div class="p-col-12 checkbox">
        <p-checkbox name="selectDaysWeek" value="Terça" [(ngModel)]="product.day_week" #selectDaysWeek="ngModel">
        </p-checkbox>
        <label for="tuesday">Terça</label>
      </div>

      <div class="p-col-12 checkbox">
        <p-checkbox name="selectDaysWeek" value="Quarta" [(ngModel)]="product.day_week" #selectDaysWeek="ngModel">
        </p-checkbox>
        <label for="wednesday">Quarta</label>
      </div>

      <div class="p-col-12 checkbox">
        <p-checkbox name="selectDaysWeek" value="Quinta" [(ngModel)]="product.day_week" #selectDaysWeek="ngModel">
        </p-checkbox>
        <label for="thursday">Quinta</label>
      </div>

      <div class="p-col-12 checkbox">
        <p-checkbox name="selectDaysWeek" value="Sexta" [(ngModel)]="product.day_week" #selectDaysWeek="ngModel">
        </p-checkbox>
        <label for="friday">Sexta</label>
      </div>

      <div class="p-col-12 checkbox">
        <p-checkbox name="selectDaysWeek" value="Sábado" [(ngModel)]="product.day_week" #selectDaysWeek="ngModel">
        </p-checkbox>
        <label for="saturday">Sábado</label>
      </div>

      <div class="p-col-12 checkbox">
        <p-checkbox name="selectDaysWeek" value="Domingo" [(ngModel)]="product.day_week" #selectDaysWeek="ngModel">
        </p-checkbox>
        <label for="sunday">Domingo</label>
      </div>

      <div class="p-col-12">
        <p>Preencha os horários da promoção:</p>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <p-calendar [(ngModel)]="product.promotion_start_time" [timeOnly]="true" inputId="timeonly"
          name="promotion_start_time" #promotion_start_time="ngModel" placeholder="Início">
        </p-calendar>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <p-calendar [(ngModel)]="product.promotion_end_time" [timeOnly]="true" inputId="timeonly"
          name="promotion_end_time" #promotion_end_time="ngModel" placeholder="Término">
        </p-calendar>
      </div>
    </div>

    <div class="p-grid" style="margin-top: 2em;">
      <div class="p-col-12 p-md-2 p-fluid">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
      </div>

      <div class="p-col-12 p-md-2 p-fluid">
        <button pButton type="button" label="Novo" routerLink="/produtos/novo/v1" class="ui-button-info"></button>
      </div>
    </div>

  </form>
</div>
