<div class="container">

  <!--div class="p-grid">

    <div class="p-col-12">
      <div class="card">
        <span class="overview-icon"><i class="fas fa-poll-h"></i></span>
        <span class="overview-title">Cadastrados</span>
        <div class="p-grid overview-detail">
          <div class="p-col-6">
            <div class="overview-number">340</div>
            <div class="overview-subtext">Restaurantes</div>
          </div>

          <div class="p-col-6">
            <div class="overview-number">12552</div>
            <div class="overview-subtext">Produtos</div>
          </div>
        </div>
      </div>
    </div>
  </div-->

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="products" [loading]="loading" [paginator]="true" [rows]="filter.itemsByPage" [lazy]="true"
        [totalRecords]="totalElements" (onLazyLoad)="nextPage($event)" [responsive]="true" #table>

        <ng-template pTemplate="emptymessage">
          Nenhum produto encontrado
        </ng-template>

        <ng-template pTemplate="caption">
          <div class="table-header">
            Produtos
            <span class="p-input-icon-left">

              <form autocomplete="off" (ngSubmit)="index()">
                <input pInputText type="text" name="search" [(ngModel)]="filter.search" pTooltip="Nome ou Categoria"
                  tooltipPosition="top" placeholder="Pesquisar" />
                <button pButton type="submit" icon="pi pi-search"></button>
              </form>

            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Restaurante</th>
            <th>Nome</th>
            <th>Imagem</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Promoção</th>
            <th style="width:200px"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.restaurant.name }}</td>
            <td>{{ product.name }}</td>
            <td>
              <div *ngIf="product.avatar; else elseBlock">
                <img class="p-shadow-4" src="{{ product.avatar.url }}" alt="Imagem do produto" width="100">
              </div>
              <ng-template #elseBlock>
                <span class="product-badge not">Não</span>
              </ng-template>
            </td>
            <td>{{ product.price | currency:'BRL':true:'1.2-2' }}</td>
            <td>{{ product.category }}</td>
            <td>
              <span *ngIf="product.promotion == null; else elsePromotion" class="product-badge not">Não</span>
              <ng-template #elsePromotion>
                <span class="product-badge yes">Sim</span>
              </ng-template>
            </td>
            <td class="col-actions">
              <button pButton icon="fas fa-eye" pTooltip="Visualizar" tooltipPosition="top"></button>
              <button pButton icon="fas fa-edit" pTooltip="Editar" tooltipPosition="top"></button>
              <button pButton icon="fas fa-trash-alt" (click)="confirmDelete(product)" pTooltip="Excluir"
                tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-col-12">
      <a pButton label="Novo Produto" style="color: #fff"></a>
    </div>
  </div>

</div>
