<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Novo Restaurante</h1>
        <div class="left">
          <i class="fas fa-chevron-left"></i>
          <a href="javascript:;">Voltar</a>
        </div>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="name" [(ngModel)]="restaurant.name" #name="ngModel" required minlength="3">

        <app-message [control]="name" error="required" text="Informe o nome do restaurante"></app-message>
        <app-message [control]="name" error="minlength"
          text="Mínimo de {{ name.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ name.errors?.minlength?.actualLength }}!">
        </app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Endereço</label>
        <input pInputText type="text" name="address" [(ngModel)]="restaurant.address" #address="ngModel" required
          minlength="5">

        <app-message [control]="address" error="required" text="Informe o endereço do restaurante"></app-message>
        <app-message [control]="address" error="minlength"
          text="Mínimo de {{ address.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ address.errors?.minlength?.actualLength }}!">
        </app-message>
      </div>

      <div class="p-col-12">
        <h3>Horários de Funcionamento</h3>
      </div>

      <div class="p-grid p-col-12 p-fluid">
        <div class="p-col-12">
          Dias Úteis
        </div>

        <div class="p-col-12 p-md-6">
          <p-calendar [timeOnly]="true" inputId="timeonly" placeholder="Abertura" name="week_opening_time"
            [(ngModel)]="restaurant.week_opening_time" #week_opening_time="ngModel" required>
          </p-calendar>
        </div>

        <div class="p-col-12 p-md-6">
          <p-calendar [timeOnly]="true" inputId="timeonly" placeholder="Fechamento" name="week_closing_time"
            [(ngModel)]="restaurant.week_closing_time" #week_closing_time="ngModel" required>
          </p-calendar>
        </div>

        <div class="p-col-12">
          Finais de Semana
        </div>

        <div class="p-col-12 p-md-6">
          <p-calendar [timeOnly]="true" inputId="timeonly" placeholder="Abertura" name="weekend_opening_time"
            [(ngModel)]="restaurant.weekend_opening_time" #weekend_opening_time="ngModel" required>
          </p-calendar>
        </div>

        <div class="p-col-12 p-md-6">
          <p-calendar [timeOnly]="true" inputId="timeonly" placeholder="Fechamento" name="weekend_closing_time"
            [(ngModel)]="restaurant.weekend_closing_time" #weekend_closing_time="ngModel" required>
          </p-calendar>
        </div>
      </div>

      <div class="p-col-12 p-md-2 p-fluid">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
      </div>

      <div class="p-col-12 p-md-2 p-fluid">
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
      </div>

    </div>

  </form>
</div>
