.col-actions button {
  margin-right: .5em;
  background: #fff;
  border-color: #fff;
  color: #6c757d;
}

.product-badge {
  background: #ffcdd2;
  color: #c63737;
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

/* Start - card */
.card {
  min-height: 6rem;
  position: relative;
  border-top: 4px solid;
  border-top-color: #009ca3;

  padding: 1em;
}

.overview-icon {
  background: #CBEBEE;
  color: #009ca3;

  display: inline-block;
  border-radius: 4px;
  width: 2em;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
}

.overview-title {
  color: #009ca3;

  font-weight: 600;
  font-size: 1.25rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.overview-detail {
  text-align: center;
  margin-top: 1rem;
}

.overview-number {
  font-size: 1.5rem;
  font-weight: 600;
}

.overview-subtext {
  color: #6c757d;
  font-weight: 600;
  margin-top: 0.25rem;
}
/* End - card */

.table-header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
