/* Global Styles */
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label{
  font-weight: bold;
}

.container {
  padding: 1em;
}

@media (min-width: 1200px){
  .container{
    width: 1170px;
    margin: 0 auto;
  }
}

body .p-button {
  background: #009ca3;
  border-color: #009ca3;
}

body .p-button:enabled:hover{
  background-color: #009ca3;
  border-color: #009ca3;
}

body .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #CBEBEE;
  border-color: #CBEBEE;
}

body .p-menu-overlay {
  position: initial;
}
